.background-container {
  background-image: url("https://wallpapers.com/images/hd/netflix-background-gs7hjuwvv2g0e9fj.jpg");
  height: 100vh;
  overflow-y: auto;
  background-size: cover;
  background-position: center;
}

.background-container::-webkit-scrollbar {
  display: none;
}
